* {
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
}

header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #848282;
}

.nav {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #848282;
}

.list-item {
  display: inline-block;
  padding: 15px 0;
  margin: 0 20px;
}
.main {
  width: 100%;
  height: 700px;
  padding: 50px 0;
}
.boxes {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.box1 {
  background-color: #e6ffe9;
  width: 200px;
  height: 200px;
}
.box2 {
  background-color: #cbffd3;
  width: 200px;
  height: 200px;
}
.box3 {
  background-color: #aeffbd;
  width: 200px;
  height: 200px;
}
.box4 {
  background-color: #93ffab;
  width: 200px;
  height: 200px;
}
.box5 {
  background-color: #f3ffd8;
  width: 200px;
  height: 200px;
}
.box6 {
  background-color: #edffbe;
  width: 200px;
  height: 200px;
}
.box7 {
  background-color: #e9ffa5;
  width: 200px;
  height: 200px;
}
.box8 {
  background-color: #e4ff8d;
  width: 200px;
  height: 200px;
}
.box9 {
  background-color: #d9e5ff;
  width: 200px;
  height: 200px;
}
.box10 {
  background-color: #bad3ff;
  width: 200px;
  height: 200px;
}
.box11 {
  background-color: #a4c6ff;
  width: 200px;
  height: 200px;
}
.box12 {
  background-color: #8eb8ff;
  width: 200px;
  height: 200px;
}


footer {
  background-color: #848282;
  width: 100%;
  height: 120px;
}
footer p {
  color: white;
  text-align: center;
  line-height: 120px;
}